/*sub reset */
/**  {padding:0;margin:0}
img  {border:0}
html,body  {font-family:"Microsoft YaHei", "微软雅黑", "Segoe UI", Verdana, Arial, "宋体", Simsun; font-size:12px;overflow-x:auto; width:100%;}
select,input  {font-family:"Microsoft YaHei", "微软雅黑", "Segoe UI", Verdana, Arial, "宋体", Simsun; font-size:15px;}
ul,li  {display:block;list-style:none;}
h1,h2,h3,h4,h5,h6  {display:block;}
p  {display:block;}*/
a  {text-decoration:none;}
a:hover  {text-decoration:none;}
/*em  {font-style:normal;}
body  {-webkit-text-size-adjust: none; -ms-touch-action: none;  -webkit-overflow-scrolling: touch; }*/

/*页面大标题*/
#pageTitle {font-size: 30px; font-weight: bold;}

/*标题栏右部登陆信息*/
#pageAdditional {display:inline-block; float:right; line-height:20px;}
	#inOutBack {font-size:15px;}





/*登陆和密码变更*/
#login  {padding:20px; margin:150px 20px 0 20px; border-radius:6px; color:#666; line-height:20px; background-color:#eee; font-size:18px;} /*在用*/
	#login  input.con  {font-size:18px; padding:0 10px; line-height:30px; font-weight:bold; color:#000; height:30px;} /*在用*/
	#login_btn  {padding:0 10px; margin:10px 0 0 70px; height:30px; line-height:20px; font-size:18px; font-weight:bold;} /*在用*/
	#vdcode {position:relative; top:7px;}
	#login a {color:#666;}
	#login a:hover {color:red; font-style:italic;}
	#login a:active {position:relative; top:1px; left:1px;}

#pwchange  {padding:20px; margin:150px 20px 0 20px; border-radius:6px; color:#666; line-height:20px; background-color:#eee; font-size:15px;} /*在用*/
	#pwchange  input.con  {font-size:18px; padding:0 10px; line-height:30px; font-weight:bold; color:#000; height:30px;} /*在用*/
	#pwchange_btn  {padding:0 10px; margin:10px 0 0 90px; height:30px; line-height:20px; font-size:18px; font-weight:bold;} /*在用*/
	#pwchange legend {font-weight:bold; color:#000; font-size:18px;}

.redword {color:red;}






/* Newly added */
.button--white {
	display:block; 
	border-radius:3px; 
	/* float:right;  */
	width:75px; 
	background-color:white; 
	/* color:#aaaaaa;  */
	font-size:15px; 
	height:28px; 
	line-height:28px; 
	margin-top:8px; 
	border:solid 1px rgb(128, 128, 128);
}
